<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<%# current_user.name %>
<style>
  body {
  background: aliceblue;
  }
</style>
<!-- <h1>product</h1> -->
<div class="nav-sprite" id="nav-packard-glow-loc-icon"></div>
<html>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ProductNearMe</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'find by location', new_location_path %></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Add New product', new_product_path %></li>
        <li><%= link_to 'login', user_session_path %></li>
        <li><%= link_to "logout", destroy_user_session_path %></li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="input-group">
          <%# select_tag "category_id", options_from_collection_for_select(@category, 'id', 'name') %>
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
              
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
            </div> -->
        </div>
      </form>
    </div>
  </nav>
  <!-- 
    <div class="container">  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="1.jpg" alt="image not found" style="width:100%;">
          </div>
          <div class="item">
            <img src="1.jpg" alt="image not found" style="width:100%;">
          </div>
          <div class="item">
            <img src="1.jpg" alt="image not found" style="width:100%;">
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> -->
  <%#link_to 'Add New product', new_product_path %>
  <%#link_to 'login', user_session_path %>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    </div>
    </div>    -->   <br />   
  <!-- <%# form_tag home_path, :method => 'get', :id => "product_search" do %>
    <p>
      <%# text_field_tag :search, params[:search] %>
      <%# submit_tag "Search", :name => nil %>
    </p>
     <div id="product"><%# render 'product' %></div> -->
  <%# end %>
  <%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
  <!-- <div id="product"><%# render 'product' %></div> -->
  <% end %>
  <%# f.collection_select :player1, Player.order('plays DESC'), :id, :name %>
  
<%# select('category_id',Category.order('name ASC').all.map{ |c| [c.name, c.id] }) %>

  <div align="right">
    <div class="sort">
      <div class="sort-by">
        <h3 id="sort"><span> |</span>
          <span><%= sortable "price" %><span class="caret"></span>
          <span><%= sortable "name" %><span class="caret"></span>
          <select name="Contact[email_provider]">
          <option> <span><%= sortable "price" %></span></option>
          <option> <span><%= sortable "name" %><span class="caret"></span></option>
          </select>
          </span>
        </h3>
      </div>
    </div>
  </div>
  </body>
</html>

<br>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      html {
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-size: 14px;
      }
      *, ::after, ::before {
      box-sizing: border-box;
      }
      h5 {
      font-size: 1.28571429em;
      font-weight: 700;
      line-height: 1.2857em;
      margin: 0;
      }
      .card {
      font-size: 1em;
      overflow: hidden;
      padding: 0;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      }
      .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
      }
      .card-img-top {
      display: block;
      width: 100%;
      height: auto;
      }
      .card-title {
      font-size: 1.28571429em;
      font-weight: 700;
      line-height: 1.2857em;
      }
      .card-text {
      clear: both;
      margin-top: .5em;
      color: rgba(0, 0, 0, .68);
      }
      .card-footer {
      font-size: 1em;
      position: static;
      top: 0;
      left: 0;
      max-width: 100%;
      padding: .75em 1em;
      color: rgba(0, 0, 0, .4);
      border-top: 1px solid rgba(0, 0, 0, .05) !important;
      background: #fff;
      }
      .card-inverse .btn {
      border: 1px solid rgba(0, 0, 0, .05);
      }
      .profile {
      position: absolute;
      top: -12px;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      width: 25px;
      height: 25px;
      margin: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      }
      .profile-avatar {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      }
      .profile-inline {
      position: relative;
      top: 0;
      display: inline-block;
      }
      .profile-inline ~ .card-title {
      display: inline-block;
      margin-left: 4px;
      vertical-align: top;
      }
      .text-bold {
      font-weight: 700;
      }
      .meta {
      font-size: 1em;
      color: rgba(0, 0, 0, .4);
      }
      .meta a {
      text-decoration: none;
      color: rgba(0, 0, 0, .4);
      }
      .meta a:hover {
      color: rgba(0, 0, 0, .87);
      }
      .button-right {
      float: right;
      top: -5px;
      position: relative;
      background: #6c757d;
      color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% for product in @product %>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="card">
            
            <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random"> -->
            <div class="card-block">
              <h4 class="card-title mt-3">
                <%= product.name %>
              </h4>
              <div class="card-text">
                <%= product.descripton %>
              </div>
            </div>
            <div class="card-footer">
              <small><%= product.category.name %></small>
              <button class="btn btn-secondary button-right btn-sm">
                <div class="price"><%= number_to_currency(product.price) %></div>
              </button>

            </div>
             
          </div>
            
        </div>
         <% end %>
      </div>
    </div>
  </body>
</html>
<span class="nav-item"><span class="nav-text"><i class="icp-flyout-flag icp-flyout-flag-in"></i>You are shopping on ProductNearMe.in</span></span>
<%# render @product.desc %>

<%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
<style>
body {
      background: aliceblue;
    }
  </style>

<b><h1 align="center">Product</h1></b>
<div align="right">
<%= link_to "logout", destroy_user_session_path %>
</div>
<br/>
<div class="sort">
  <div class="sort-by">
    <h3 id="sort"><label>sort:</label><span> |</span>
      <span><%= sortable "price" %><span class="caret"></span></span></h3>  
  </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>description</th>
      <th><%= sortable "price" %></th>
      <th>category</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.each_with_index do |product, index| %>
    <%#if @product.present? %>
    <%# @images.each_with_index do |product, index| %>
    <%# Product.all.each do |product|%>
   <%# for product in @product %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.descripton %></td>
        <td class="price"><%= number_to_currency(product.price) %></td>
        <%# if current_user == @product.user %>

        <td><%= product.category.name %></td>
         <td><%= product.user.email %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <!-- <td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td><%= button_to 'Destroy', product_path(product), method: :delete %></td>
        </tr>
    <% end %>
    <%# end %>
  </tbody>
</table>

<br>
<%# form_tag product_index_path, method: :get do %>
  <!-- <p>
    <%# text_field_tag :query, params[:query] %>
    <%# submit_tag "Search", name: nil %>
  </p> -->
<%# end %>
<%# form_tag product_index_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%# text_field_tag :search, params[:search],placeholder: 'Search your products' %>
    <%# submit_tag "Search", :name => nil %>
  </p>
  <!-- <div id="product"><%# render 'product' %></div> -->
<%# end %>


<%# form_tag product_index_path, :method => :post, :id => "SearchForm" do %>
    <%# text_field_tag :search, params[:search], placeholder: 'Search your favourite products or brands', :autocomplete => :off, :id => 'SearchSearch'  %> 
    <%# image_submit_tag('nav_bar/search.png', title: 'Search', class: 'search_submit', data: { "placement" => "bottom" }) %>
    <%# submit_tag "Search", :name => nil %>
<%# end %>  
<br />
<%= link_to 'create new product',new_product_path%>



