<p id="notice"><%= notice %></p>
<%= form_tag(product_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
<style>
body {
      background: aliceblue;
    }
  </style>

<b><h1 align="center">Product</h1></b>
<div align="right">
<%= link_to "logout", destroy_user_session_path %>
</div>
<br/>
<div class="sort">
  <div class="sort-by">
    <h3 id="sort"><label>sort:</label><span> |</span>
      <span><%= sortable "price" %><span class="caret"></span></span></h3>  
  </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>description</th>
      <th><%= sortable "price" %></th>
      <th>category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @product.each do |product| %>
    <% if @product.present? %>
    <% Product.all.each do |product|%>
   <%# for product in @product %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.Description %></td>
        <td class="price"><%= number_to_currency(product.price) %></td>

        <td><%= product.category.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <!-- <td><%# link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td><%= button_to 'Destroy', product_path(product), method: :delete %></td>
        </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%# form_tag product_index_path, method: :get do %>
  <!-- <p>
    <%# text_field_tag :query, params[:query] %>
    <%# submit_tag "Search", name: nil %>
  </p> -->
<%# end %>
<%= form_tag product_index_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search],placeholder: 'Search your products' %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <!-- <div id="product"><%# render 'product' %></div> -->
<% end %>


<%# form_tag product_index_path, :method => :post, :id => "SearchForm" do %>
    <%# text_field_tag :search, params[:search], placeholder: 'Search your favourite products or brands', :autocomplete => :off, :id => 'SearchSearch'  %> 
    <%# image_submit_tag('nav_bar/search.png', title: 'Search', class: 'search_submit', data: { "placement" => "bottom" }) %>
    <%# submit_tag "Search", :name => nil %>
<%# end %>  
<br />
<%= link_to 'create new product',new_product_path%>

